*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    text-align: center;
}

.centered{
    width: 50%;
    margin:0 auto;
}

.brand{
    font-weight: bold;
    /*display: inline-block;*/
    float: left;
    position: relative;
    margin: 15px 0px;
}

nav{
    float: right;      
}

ul{
    display: inline-flex;
    flex-direction: row; 
    width: 100%;
}

li{
    list-style-type: none;
    margin: 1%;
 }

a{
    text-decoration: none;
    color : black;
}

.theme-grey{
    clear: both;
    background-color: #F6F6F6;
    
}

section{
    text-align: center;
    padding: 5%;
}

.features .centered{
    display:flex;
    flex-direction: row;
}

.feature{
    margin: 0% 1%;
}

.about-us-container{
    overflow: auto;
}

img{
    width:50%;
    display: block;
    float: left;
}

.about-us{
    display: inline-block;
    width: 50%;
}

.about-us p{
    margin-left: 2%;
}

.statistics .centered{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.statistic{
    margin: 0% 2%;
    width: 40%;
    color: white;
}

.green{
    background-color: #218C74;
}

.blue{
    background-color: #227093;
}

.red{
    background-color: #B33939;
}

.statistic h2{
    font-weight: bolder;
}

.progress-bar{
   /* display: flex;
    flex-direction: row;*/
    display: grid;
    grid-template-columns: 15% auto 5%;
    margin: 1%;
}

.progress-bar-border{
    background-color: white;
    width: 100%;
    margin-left: 2%;
   
}

.progress-bar-filling{
   
    height: 15px;
    background-color: #333333;
    
}

.progress-bar-title{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #696662;
}

.progress-50{
    width: 50%;
}

.progress-40{
    width: 40%;
}

.progress-70{
    width: 70%;
}

.progress-30{
    width: 30%;
}

.progress-60{
    width: 60%;
}

.progress-bar-header{
    color: #696662;
    margin-top: -5px;
}

footer{
    background-color: #333333;
    color: whitesmoke;
    
}



footer .centered{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}